.pytest_cache
.ruff_cache
.scannerwork
.venv
.vscode
dist
log
node_modules
prisma
tests
.editorconfig
.gitignore
.markdownlint.yml
.markdownlintignore
buchstabieralphabet.txt
dependency-check-report.html
Dockerfile
Dockerfile.alpine
Dockerfile.trixie
Jenkinsfile
oxfmt.config.mts
oxlint.config.mts
ReadMe.*
sonar-*
vitest.config.mts
